/*stylsheet for index.html*/

/*Make all recipe images the same size*/

img {
    height: auto;
    width: 300px;
  }

* {
    font-family: "Garamond", serif;
    background-color: blanchedalmond;
    scrollbar-track-color: bisque;
    scrollbar-color: #473232;
}

.dish-name{
   background-color: beige; 
}

.tagline{
    margin-top:-10px;
    display:block;
}

.home-div{
    text-align: center;
}

.home-title{
    border: 1px #473232 dotted;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.recipes{
    border: 1px rgb(199, 172, 133) dotted;
    display:table;
    margin: 0 auto;
}



